<!--テストページです。触るな危険。-Ryoma-->

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsenui.css">
  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsen-css-components.css">

  <link rel="stylesheet prefetch" href="main.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/onsenui/build/js/onsenui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>

  <script src="main.js"></script>
</head>

<body>
  <ons-modal var="modal">
    <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    <br>
    <br>Logging in.
    <br> Please wait.
  </ons-modal>

  <ons-navigator title="Navigator" var="myNavigator">
    <ons-page id='page_login' ng-controller="LoginController">
      <ons-toolbar>
        <div class="center">Messenger</div>
      </ons-toolbar>
      <div style="text-align: center">

        <section style="padding: 8px">
          <input type="text" class="text-input" ng-model="username" placeholder="User Name" style="display: block; width: 100%">
        </section>

        <ons-button type='submit' 　id='btn_login' ng-click="login()" modifier="light">
          Login
        </ons-button>

      </div>
    </ons-page>
  </ons-navigator>

  <ons-template id="page1.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Friend List</div>
      </ons-toolbar>

      <ons-list>

        <ons-list-item modifier="chevron" class="list-item-container" onclick="myNavigator.pushPage('page2.html', { animation : 'slide' } )">
          <ons-row>
            <ons-col width="95px">
              <img src="img/sax.jpg" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                ryoma
              </div>
              <div class="desc">
                Hello!
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container" onclick="myNavigator.pushPage('page2.html', { animation : 'slide' } )">
          <ons-row>
            <ons-col width="95px">
              <img src="img/gouchi.jpg" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                hige
              </div>
              <div class="desc">
                I love Samuragouchi.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" class="list-item-container" onclick="myNavigator.pushPage('page2.html', { animation : 'slide' } )">
          <ons-row>
            <ons-col width="95px">
              <img src="img/icon.jpg" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                okaya
              </div>
              <div class="desc">
                I'm tired.
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

    </ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Talk</div>
      </ons-toolbar>

      <ons-tabbar hide-tabs="hgoe">
        <ons-tab>
          <ons-row>
            <ons-col width="80%">
              <input type="text" class="text-input" ng-model="text" placeholder="Type here" style="display: block; width: 100%">
            </ons-col>
            <ons-col width="20%">
              <ons-button style="display: block; width: 100%">Send</ons-button>
            </ons-col>
        </ons-tab>


      </ons-tabbar>
      Talk

    </ons-page>
  </ons-template>
</body>

</html>