<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <link rel="manifest" href="manifest.json">

  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsenui.css">
  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsen-css-components.css">

  <link rel="stylesheet prefetch" href="main.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/onsenui/build/js/onsenui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>

  <script src="main.js"></script>
</head>

<body>

  <ons-modal var="modal">
    <ons-icon icon="ion-load-c" spin="true"></ons-icon>
    <br>
    <br>Logging in.
    <br> Please wait.
  </ons-modal>


  <ons-navigator title="Navigator" var="myNavigator">
    <ons-page id='page_login' ng-controller="LoginController">
      <ons-toolbar>
        <div class="center">Messenger</div>
      </ons-toolbar>
      <div style="text-align: center">

        <section style="padding: 8px">
          <input type="text" class="text-input" ng-model="username" placeholder="User Name" style="display: block; width: 100%">
        </section>

        <ons-button type='submit' id='btn_login' ng-click="login()" modifier="light">
          Login
        </ons-button>

        <!--<ons-button type='submit' class='js-push-button' ng-click="pushSubscribe()" modifier="light">
          Enable push messages
          {{isPushEnabled ? "Disble push messages" : "Enable push messages"}}
        </ons-button>-->

        <ons-button type='submit' ng-click="show('login.html')" modifier="light">
          Signup
        </ons-button>

      </div>
    </ons-page>
  </ons-navigator>
  
  

  <ons-template id="login.html">
    <ons-dialog var="dialog" cancelable ng-controller="SignupController">

      <ons-toolbar inline>
        <div class="center">
          Signup
        </div>
      </ons-toolbar>

      <p>
        <input placeholder="Username" ng-model='username' class="text-input">
      </p>

      <p>
        <ons-button modifier="large" ng-click="signup()">Signup</ons-button>
      </p>

    </ons-dialog>
  </ons-template>
  
  <ons-template id="addfriend.html">
    <ons-dialog var="dialog" cancelable ng-controller="AddFriendController">

      <ons-toolbar inline>
        <div class="center">
          Add a Friend
        </div>
      </ons-toolbar>

      <p>
        <input placeholder="Username" ng-model='friendname' class="text-input">
      </p>

      <p>
        <ons-button modifier="large" ng-click="addFriend()">Add</ons-button>
      </p>

    </ons-dialog>
  </ons-template>

  <ons-template id="page1.html">
    <ons-page ng-controller="FreindListController">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Friend List</div>
        <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-plus" ng-click="show('addfriend.html')" style="font-size: 32px; width: 1em">
        </ons-toolbar-button>
      </div>
      </ons-toolbar>

      <ons-list>
        <ons-list-item ng-repeat='friend in userData.friends' modifier="chevron" class="list-item-container" ng-click="moveToTalkPage($index)">
          <ons-row>
            <ons-col width="95px">
              <img ng-src="img/{{friend.thumbnail}}" class="thumbnail">
            </ons-col>
            <ons-col>
              <div class="name">
                {{friend.username}}
              </div>
              <div class="desc">
                {{friend.description}}
              </div>
            </ons-col>
            <ons-col width="40px"></ons-col>
          </ons-row>
        </ons-list-item>

      </ons-list>

    </ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page ng-controller="TalkRoomController">
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Talk</div>
      </ons-toolbar>
      <div id="talk-container">
        <div id="talk-inner-container">
          <div class="msg" ng-class="{'mine' : message.isMine}" ng-repeat="message in talkData.messages track by $index" on-finish-render>
            <!--アニメーションを追加したい-->
            <p class="txt">{{message.text}}</p>
          </div>
        </div>
      </div>
      <footer id="global-footer">
        <div id="global-footer-form" class="form">
          <input id="global-footer-form-txt" class="txt" type="text" ng-model="text"></input>
          <input id="global-footer-form-btn" class="btn submit" type="submit" value="送信" ng-click="send()" />
        </div>
      </footer>
    </ons-page>
  </ons-template>
</body>

</html>