<!--テストページです。触るな危険。-Ryoma-->

<!--OnsenUIとAngularJSのタグが混在しているため少しわかりにくいかも。
　　基本的に"ons-"で始まっているのがOnsenUIで
　　"ng-"ではじまっているのがAngularJS
　　
　　それぞれの意味を解説していっちゃうよ-->

<!DOCTYPE html>
<html>

<head>
  <!--呪文ここから-->
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">
  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsenui.css">
  <link rel="stylesheet prefetch" href="bower_components/onsenui/build/css/onsen-css-components.css">

  <link rel="stylesheet prefetch" href="main.css">

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/onsenui/build/js/onsenui.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.min.js"></script>

  <script src="login.js"></script>
  <!--呪文ここまで-->
</head>

<body>
  <!--
  ons-navigatorタグ　ページスタックの管理をしているタグ。
  　　つまりこのページが基準で、上にどんどん新しいページが積みあがっていくイメージ。
  　　下記ons-templateタグで指定したページが今後積まれるページ
  　　OnsenUIではページを上に重ねることをpush ページを消して前のページに戻ることをpopと呼んでいる。
  　　-->
  <ons-navigator title="Navigator" var="myNavigator">
    <!--ons-pageタグ　これがページの単位
    　　ng-Controller　めっちゃ大切。これを指定したタグで囲まれた部分がこのコントローラのスコープとなる。
    　　　　　　　　　　　　　　　　このコントローラの中身はlogin.jsに書いている。-->
    <ons-page id='page_login' ng-controller="LoginController">
      <!--ページ上部のあれ-->
      <ons-toolbar>
        <div class="center">Messenger</div>
      </ons-toolbar>
      <div style="text-align: center">

        <section style="padding: 8px">
          <!--普通のテキストボックス
          　　ng-model ここでモデルを関連付けられる(バインド)。このモデルにはテキストボックスの値がはいる。
          　　　　　　　このモデルはコントローラ内で参照できる。　　　-->
          <input type="text" class="text-input" ng-model="username" placeholder="User Name" style="display: block; width: 100%">
        </section>
        <!--ng-Click　わかるやろ
        　　myNavigator 上で定義したnavigator
        　　pushPage     指定したページに遷移する
        　　-->
        <ons-button type='submit' id='btn_login' ng-click="myNavigator.pushPage('page1.html', { animation : 'slide' } )" modifier="light">
          Login
        </ons-button>

      </div>
    </ons-page>
  </ons-navigator>
  <!--
  ページを定義できる。
  どんどん増やせる。
  -->
  <ons-template id="page1.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Friend List</div>
      </ons-toolbar>
      
      OK

    </ons-page>
  </ons-template>
</body>

</html>